/*--------------- Fonts-----------------*/
/* font-family: 'Bree Serif', serif; */
/* font-family: 'Montserrat', sans-serif; */

/*--------------- General Properties-----------------*/
header {
    width: 100%;
    height: auto;
    color:#ffffff;
    text-align: center;
    background-color: #000000;
}

title {
    display: block;
    align-content: center;
    padding: 20px 0;
    text-align: center;
    letter-spacing: 2px;
    font-size: 45px;
    font-family: 'Bree Serif', serif;
    text-shadow: 2px 2px 3px #d1d1d1;
}

h1 {
    font-size: 1.7em;
}

h1,
h2,
h3,
h4 {
    font-family: 'Bree Serif', serif;
}

p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
}

input {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    background-color: #266fef;
    color: #ffffff;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    list-style: none;
}

section,
aside {
    padding: 20px 15px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    background-color: #ececec;
}

footer {
    padding: 30px;
    background-color: black;
    color: #ffffff;
}

footer a {
    color: white;
}

.topic {
    padding: 2px 5px;
    margin-bottom: 10px;
    align-self: flex-start;
    border-radius: 5px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-shadow: 10px 10px 20px #000000;
    background-color: rgb(231, 74, 74);
}

.newsCard {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.newsCard  p, 
.newsCard .title a  {
    text-shadow: 10px 10px 20px #000000;
    color: #ffffff;
}

.bImage {
    background-size: cover;
    background-position: center;
}

/*--------------- Header Properties-----------------*/
.headerBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    border-bottom: 1px solid #6d6d6d;
    color: #ffffff;
    font-size: 12px;
}

.headerBar time {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.headerBar .socialMedia {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: auto;
}

.headerBar .socialMedia a {
    color: #ffffff;
}

nav .search {
    display: flex;
    align-items: center;
    gap: 5px;
}

nav .menuList {
    display: none;
}

nav .menuBtn {
    display: block;
}

/*--------------- Section Hottes News Properties-----------------*/
.hottestNewsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ececec;
}

.hottestNewsContainer .principalNews {
    margin-bottom: 10px;
    height: 350px;
    width: 100%;
}

.hottestNewsContainer .principalNews .newsCard {
    justify-content: space-between;
    height: 100%;
}

.img1 {
    background-image: url(../assets/images/facebook-down.jpg);
}

.secondaryNews {
    display: flex;
    flex-wrap: wrap;
}

.hottestNewsContainer .secondaryNews .newsCard {
    justify-content: space-between;
    height: 250px;
}

.img2 {
    background-image: url(../assets/images/malaysia.jpg);
}

.img3 {
    background-image: url(../assets/images/britney.jpg);
}

.img4 {
    background-image: url(../assets/images/messi.jpg);
}

.img5 {
    background-image: url(../assets/images/binance.jpg);
}

/*---------------Section Trending News Properties-----------------*/
.trendingNews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ececec;
}

.trendingNewsWrapper {
    width: 100%;
    order: 2;
}
.trendingNewsWrapper .newsCard {
    justify-content: space-between;
    height: 250px;
}

.adv {
    margin: 15px 0;
    order: 1;
}

.adv.banner {
    width: 75%;
    height: 200px;
    background-image: url(../assets/images/banner.png);
    background-size: cover;
    background-position: center;
}

.adv.square {
    min-width: 200px;
    max-width: 350px;
    min-height: 200px;
    max-height: 350px;
    background-image: url(../assets/images/square.png);
    background-size: cover;
    background-position: center;
}

.img6 {
    background-image: url(../assets/images/economy.jpg);
}

.img7 {
    background-image: url(../assets/images/sleep.jpg);
}

.img8 {
    background-image: url(../assets/images/earth.jpg);
}

.img9 {
    background-image: url(../assets/images/billie.jpg);
}

/*---------------Section Latests News Properties-----------------*/
.latestsNewsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.latestNews {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.latestNewsWrapper .topic {
    text-shadow: none;
}

.latestNewsWrapper .newsCard .title a {
    color: #000000;
    text-shadow: none;
}

.whatsNew {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    background-color: #ffffff;
}

.whatsNewListWrapper {
    padding: 10px 20px;
    width: 100%;
}

.whatsNewListWrapper a {
    font-family: 'Bree Serif', serif;
}

.newsMiniCard {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.newsMiniCard .orderNumber {
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #266fef;
}

/*---------------Footer Properties-----------------*/
.footerTitle {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #266fef;
    font-family: 'Bree Serif', serif;
    font-size: 26px;
}

.footerSections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footerInfo,
.footerInfo ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.newsletter button {
    padding: 3px 18px;
    border: none;
    color: white;
    font-size: 14px;
    background-color: #266fef;
}

.adv.square {
    min-width: 250px;
    min-height: 250px;
}
/*---------------Media Queries for Tablets-----------------*/
@media screen and (min-width: 768px) {
    .hottestNewsContainer .principalNews {
        margin-bottom: 0;
    }

    .secondaryNews .newsCard {
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;        
        width: 50%;
    }

    .trendingNewsWrapper {
        display: flex;
        flex-wrap: wrap;
        order: initial;
    }

    .trendingNewsWrapper .newsCard {
        width: 50%;
        margin-bottom: 0;
    }
    
    .footerSections{
        flex-direction: row;
    }

    .newsletter {
        flex-direction: row;
        justify-content: center;
    }
}

/*---------------Media Queries for Desktop-----------------*/
@media screen and (min-width: 1024px) {
    nav {
        padding: 30px 50px;
    }

    nav .menuBtn {
        display: none;
    }
    
    nav .menuList {
        display: flex;
        gap: 20px;
        list-style: none;
    }
    
    nav .menuList a {
        color: #ffffff;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
    }
    
    nav .menuList a:hover {
        color: #266fef;
    }
    
    .hottestNewsContainer {
        flex-direction: row;    
    }

    .hottestNewsContainer .principalNews {
        display: flex;
        width: 50%;
        height: 500px;
    }

    .hottestNewsContainer .principalNews .newsCard {
        width: 100%;
    }

    .hottestNewsContainer .secondaryNews {
        flex-direction: row;
        width: 50%;
    }
    
    .hottestNewsContainer .secondaryNews .newsCard {
        flex-direction: row;
    }
    
    .hottestNewsContainer .secondaryNews .newsCard .title {
        font-size: 18px;
    }
    
    .hottestNewsContainer .secondaryNews .newsCard p {
        display: none;
    }

    .trendingNewsWrapper {
        width: 65%;
    }
    
    .trendingNewsWrapper .titleWrapper {
        display: flex;
        flex-direction: column;
        gap: 15px;
        
    }
    

    .whatsNew {
        width: 33.33%;
    }

    .adv.square{
        width: 33.33%;
        min-height: 320px;
    }

    .adv.banner {
        height: 300px;
    }

    .latestsNewsContainer {
        flex-direction: row;
        justify-content: space-around;
        gap: 15px;
    }

    .latestNews {
        width: 33.33%;
    }

    footer {
        padding: 100px;
    }

    .title a:hover,
    .title a:hover {
        color: #266fef;
    }
}
